.Hr {
    position: absolute;
    height: 1900px;
    width: 1800px;
    left: 1px;
    top: 750px;
    border-radius: 0px;
    background-color: #F4F5F7;
}

.hrheader{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 718px;
    height: 132px;
    left: 156px;
    top: 80px;
}

#bigp {
    position: static;
    height: 60px;
    width: 515px;
    left: 0px;
    top: 0px;
    font-family: 'Readex Pro', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    color:#091E42;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;
}

#littlep {
    position: static;
    width: 500px;
    height: 48px;
    left: 0px;
    top: 84px;
    
    font-family:'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    
    color: #5E6C84;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 24px 0px;
}

.hraside {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 1400px;
    height: 450px;
    left: 159px;
    top: 400px;
    
}

.hrbody {
    position: absolute;
    width: 985px;
    height: 506px;
    left: 0px;
    top: 0px;
}

#container{
    position: absolute;
    width: 885px;
    height: 506px;
    left: 500px;
    top: 1000px;

    /* Neutral/N10 */

    background: #FAFBFC;
    box-shadow: -28px 46px 60px rgba(9, 30, 66, 0.08);
}

#personcard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    width: 200px;
    height: 247.62px;
    left: 1285px;
    top: 1200px;

    /* Neutral/N0 */

    background: #FFFFFF;
    /* Neutral/N40 */

    border: 1.19048px solid #DFE1E6;
    box-sizing: border-box;
    box-shadow: -43px 46px 60px rgba(9, 30, 66, 0.08);
    border-radius: 4.7619px;
}

nav {
    position: absolute;
    width: 885px;
    height: 61px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1.22222px 3.66667px rgba(193, 199, 208, 0.4);
}

#content {
    position: absolute;
    height: 22px;
    width: 855px;
    left: 15px;
    top: 19px;
    border-radius: 0px;

}

#no1{
    position: absolute;
    width: 19px;
    height: 19px;
    left: 803.08px;
    top: 1.78px;
    background: rgba(255, 255, 255, 0.0001);
}

#no2{
    position: absolute;
    left: 840px;
    top: 2px;

    /* Neutral (Light) / N0 */
    
    background: #FFFFFF;
    box-shadow: 0px 1.22222px 3.66667px rgba(193, 199, 208, 0.4);
}


.leftcontent {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 281px;
    height: 24px;
    left: -0.25px;
    top: calc(50% - 24px/2 + 0.78px);
}

.leftcontent p {
    position: static;
    width: 217.89px;
    height: 15.46px;
    left: 63.11px;
    top: calc(50% - 15.46px/2 + 0px);

    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 15px;
    /* or 81% */


    /* Neutral/N900 */

    color: #091E42;


    /* Inside Auto Layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 9.77778px;
}

#group {
    position: static;
    left: 10.44%;
    right: 81.02%;
    top: 0%;
    bottom: 0%;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 9.77778px;
}

 #menu {
    position: static;
    width: 19.56px;
    height: 19.56px;
    left: 0px;
    top: 2.22px;
    background: rgba(255, 255, 255, 0.0001);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 9.77778px;
} 

.employee {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 0px;

    position: absolute;
    width: 693.25px;
    height: 29.5px;
    left: 95.88px;
    top: 127.83px;
    background: rgba(255, 255, 255, 0.0001);
}

#divcontent1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;

    position: static;
    display: none;
    width: 186.83px;
    height: 24.58px;
    left: 506.42px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

#divcontent2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 693.25px;
    height: 24.58px;
    left: 0px;
    top: 2.46px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

#divcontent2 p {
    position: static;
    width: 693.25px;
    height: 18px;
    left: 0px;
    top: 0px;
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #091E42;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 0px;
}

#picture1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 693.25px;
    left: 80px;
    top: 236px;
}    
 #search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    width: 312px;
    height: 34.67px;
    left: 0px;
    top: 0px;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4.91667px;
 }

 #search img {
    position: static;
    width: 312px;
    left: calc(50% - 312px/2);
    top: 0%;
    bottom: 0%;

    /* Neutral/N0 */

    background: #FFFFFF;
    /* Neutral/N40 */

    border: 0.866663px solid #DFE1E6;
    box-sizing: border-box;
    border-radius: 3.46665px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 10px 0px;
 }