.Hr {
    position: absolute;
    height: 1900px;
    width: 1800px;
    left: 1px;
    top: 750px;
    border-radius: 0px;
    background-color: #F4F5F7;
}

.hrheader{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 718px;
    height: 132px;
    left: 156px;
    top: 80px;
}

#bigp {
    position: static;
    height: 60px;
    width: 515px;
    left: 0px;
    top: 0px;
    font-family: 'Readex Pro', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    color:#091E42;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;
}

#littlep {
    position: static;
    width: 500px;
    height: 48px;
    left: 0px;
    top: 84px;
    
    font-family:'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    
    color: #5E6C84;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 24px 0px;
}

.hraside {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    border-radius: 0px;
     
    position: absolute;
    width: 1125px;
    height: 289px;
    left: 130px;
    top: 400px;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 32px 40px;
    
    position: static;
    width: 359px;
    height: 289px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
    border-radius: 16px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 24px;
}

.hraside:nth-child(2){
    order: 1;
}

.hraside:nth-child(3){
    order: 1;
}

.hrbody {
    position: absolute;
    width: 985px;
    height: 506px;
    left: 0px;
    top: 0px;
}

#container{
    position: absolute;
    width: 885px;
    height: 506px;
    left: 500px;
    top: 1000px;

    /* Neutral/N10 */

    background: #FAFBFC;
    box-shadow: -28px 46px 60px rgba(9, 30, 66, 0.08);
}

#personcard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 38.0952px 19.0476px 19.0476px;

    position: absolute;
    width: 200px;
    height: 247.62px;
    left: 1285px;
    top: 1200px;

    /* Neutral/N0 */

    background: #FFFFFF;
    /* Neutral/N40 */

    border: 1.19048px solid #DFE1E6;
    box-sizing: border-box;
    box-shadow: -43px 46px 60px rgba(9, 30, 66, 0.08);
    border-radius: 4.7619px;
}

nav {
    position: absolute;
    width: 885px;
    height: 61px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1.22222px 3.66667px rgba(193, 199, 208, 0.4);
}